.env
faiss_index.index
metadata.pkl
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.ipynb_checkpoints/
*.ipynb
pdfs/*
texts/*
!pdfs/.gitkeep
!texts/.gitkeep
*.log
models*.txt
test_prefix_out.txt
